/* Styles go here */

.search-box {
    position: relative;
  }
  
  .search-results {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .search-results li {
    cursor: pointer;
  }
  